@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
  height: 100%;
}

/* remove <li> bullets */
ul {
  list-style-type: none;
}

/* remove <button> default styles */
button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

:root {
  /* Color Palette */
  --primary: #6200ee;
  --primary-background: #e7e1f1;
  --primary-variant: #3600b2;
  --secondary: #02dbc6;
  --secondary-variant: #018687;
  --background: #fefffe;
  --surface: #fefffe;
  --error: #b00020;
}

.dashboard-container {
  height: 100%;

  display: grid;
  grid-template-areas:
    "sidebar header"
    "sidebar navbar"
    "sidebar content";
  
  grid-template-columns: 1fr 4.5fr;
  grid-template-rows: 1fr 1.5fr 8fr;
}

/* .dashboard-container > * {
  border: 2px red dashed;
} */

header,
nav {
  padding: 1rem 3rem;
}

header {
  grid-area: header;
  background-color: var(--background);
  
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-template-columns: 3fr 2fr;
}

.header__button {
  width: 2rem;
}

header > form {
  display: flex;
  gap: 1rem;
  margin-right: 1rem;
}

#search {
  background-color: var(--primary-background);
  border-radius: 20px;
  border: none;
  height: 2rem;
  flex: 1;
  padding: 0.75rem;
}

#search:focus-visible {
  outline: 2px solid #baafca;
}

.header__profile-section {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: end;
  column-gap: 1.5rem;
  padding-right: 1rem;
}

.header__profile-picture {
  width: 3rem;
  border-radius: 100%;
}

.header__profile-name {
  font-size: 1.1rem;
  font-weight: 600;
}

aside {
  grid-area: sidebar;
  background-color: var(--primary);

  display: grid;
  grid-template-rows: 4.5rem 1fr 5fr;
  row-gap: 1.5rem;
}

.sidebar {
  padding: 0 1rem;
}

.logo-header {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}

.logo-header__img {
  width: 3rem;
}

.logo-header__text {
  font-size: 2rem;
  font-weight: 500;
  color: var(--surface);
}

.sidebar > ul > li {
  margin: 1rem 0;

  font-size: 1.25rem;
  font-weight: 500;
  color: var(--surface);

  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: start;
  gap: 1.25rem;
}

.sidebar > ul > li > img[src*="svg"] {
  width: 2rem;
  padding-left: 0.25rem;
}

nav {
  grid-area: navbar;
  background-color: var(--background);
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 0;
}

.nav__greeting {
  display: grid;
  grid-template-areas: 
    "picture message"
    "picture name";
  grid-template-columns: 1fr 5fr;
  align-content: center;
  column-gap: 0.25rem;

  font-weight: 600;
}

.nav__greeting__profile-picture {
  grid-area: picture;
  width: 5rem;
  border-radius: 100%;
}

.nav__greeting__message {
  grid-area: message;
  align-self: end;
}

.nav__greeting__profile-name {
  grid-area: name;
  align-self: start;
  font-size: 1.5rem;
}

.nav__buttons {
  display: flex;
  gap: 1.5rem;
  justify-content: end;
  align-items: center;
}

.nav__buttons > * {
  background-color: var(--primary);
  padding: 0.7rem 2rem;
  width: 7rem;
  border-radius: 20px;
  color: var(--surface);
  font-weight: 500;
}

.nav__buttons > *:hover {
  background-color: var(--primary-variant);
}

main {
  grid-area: content;
  background-color: var(--primary-background);
}