* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

:root {
  /* Color Palette */
  --primary: #6200ee;
  --primary-background: #f5eeff;
  --primary-variant: #3600b2;
  --secondary: #02dbc6;
  --secondary-variant: #018687;
  --background: #fefffe;
  --surface: #fefffe;
  --error: #b00020;
}

.dashboard-container {
  height: 100%;

  display: grid;
  grid-template-areas:
    "sidebar header"
    "sidebar navbar"
    "sidebar content";
  
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 1.5fr 8fr;
}

.dashboard-container > * {
  background-color: antiquewhite;
  border: 2px red dashed;
}

header {
  grid-area: header;
}

aside {
  grid-area: sidebar;
}

nav {
  grid-area: navbar;
}

main {
  grid-area: content;
}